body{
    background-color: darksalmon;
}
.invoice-table{
    border-collapse: collapse;
    width: 45em;
    height: 15em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, .15);
    margin: 25px auto;
}

.invoice-table thead tr{
    border-bottom: 1px dashed grey;
}

.invoice-table tfoot tr{
    border-top: 1px dashed grey;
}

.invoice-table thead tr td{
    font-size: 16px;
    letter-spacing: 1px;
    color: grey;
    padding: 8px;
}

.invoice-table tfoot tr td{
    font-size: 18px;
    letter-spacing: 1px;
    color: green;
    padding: 8px;
}

.invoice-table tbody tr td{
    padding: 8px;
}

.invoice-table thead tr td:nth-last-child(1),
.invoice-table tbody tr td:nth-last-child(1),
.invoice-table tfoot tr td:nth-last-child(1)
{
    text-align: right;
}

.invoice-table .button{
    background-color: white;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px;
}
      
.invoice-table .button:hover{
    background-color: darksalmon;
    color: white;
}
.invoice-table .add_items{
    color: black;
    text-align: center;
    width: 100%;
    font-size: 35px;
}

/* bottom navabar */
.navbar {
    background-color: rgb(229, 225, 225);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    /* float: center; */
    /* height: 15px; */
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #fcbacb;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #fc94af;
    color: white;
  }